.contacts-section {
  padding: 18px 0 0;
  .heading-and-desc {
    max-width: 473px;
  }
}
.branchs {
  padding: 23px 0 54px 0;
}
.branchs__h3 {
  font-family: $mediumMontserrat;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.branchs__img {
  margin-top: 14px;
}
.address-box {
  background-color: $accent;
  padding: 40px 0 68px;
}

.address-box__wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.address-box__left {
  flex-basis: 30%;
}
.address-box__h5 {
  font-family: $regularMontserrat;
  font-weight: 400;
  font-size: 21px;
}
.address-box__add {
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 21px;
  font-style: normal;
}
.address-box__center {
  flex-basis: 30%;
}
.address-box__right {
  flex-basis: 30%;
}
.address-box__item {
  font-family: $regularMontserrat;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    color: #fff;
    font-family: $semiboldMontserrat;
    font-weight: 600;
  }
}
