.faqs {
  padding: 112px 0 95px;
  .heading-and-desc {
    max-width: 460px;
  }
  .exclude {
    margin-top: 96px;
  }
}
.faqs__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 32px;
}
.faq-accordion {
  flex-basis: 48%;
}
.main-form {
  flex-basis: 48%;
  background-color: #fff;
  padding: 50px 24px;
  border-radius: 15px;

  input[type="text"],
  input[type="email"],
  textarea {
    font-family: $regularMontserrat;
    font-weight: 400;
    font-size: 16px;
    min-height: 56px;
    border: 1px solid $dark;
    border-radius: 6px;
    padding: 20px;
    display: block;
    margin-bottom: 32px;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
    &:focus {
      outline: none;
      box-shadow: $shadow2;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  textarea {
    resize: none;
    min-height: 212px;
  }
  input[type="submit"] {
    max-width: 225px;
    width: 100%;
    min-height: 76px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #fff;
    background-color: $primary;
    font-family: $semiboldMontserrat;
    font-weight: 600;
    font-size: 21px;
    border-radius: 69px;
    padding: 0 32px;
    border: none;
  }
}

.main-form__text {
  margin: 10px 0 54px;
  color: #bdbdbd;
}
.main-form__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  input[type="submit"] {
    max-width: 225px;
    width: 100%;
  }
}
.faq-accordion-item {
  margin-bottom: 20px;
}
.faq-accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 12px 17px;
  box-shadow: $shadow;
  cursor: pointer;
}
.faq-accordion-item__question {
  font-size: 21px;
  position: relative;
  z-index: 2;
}
.faq-accordion-item__icon {
  transition: transform 0.3s ease-in;
  &.active {
    transform: rotate(180deg);
  }
}
.faq-accordion-item__answer {
  font-size: 21px;
  color: #fff;
  background-color: $accent;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 30px 44px;
  margin-top: -10px;
  position: relative;
  z-index: -1;
  transition: .15s;
  opacity: 0;
  //display: none;
}
