.footer {
  background-color: $dark;
  padding: 42px 0;
  color: #fff;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__left {
  max-width: 200px;
}
.footer__btns {
  display: flex;
  margin-top: 36px;
}
.footer__btn {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.footer__center {
  max-width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__right {
  max-width: 380px;
  p {
    font-size: 16px;
    margin-bottom: 44px;
  }
}
.footer__copy {
  font-size: 16px;
}
.footer__menu1 {
  display: flex;
  flex-direction: column;
  margin-right: 54px;
}
.footer__link {
  color: #fff;
  margin-bottom: 24px;
  font-family: $mediumMontserrat;
  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }
}
.footer__menu2 {
  display: flex;
  flex-direction: column;
}
