/* General styles
 ===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $regularMontserrat;
  font-weight: 400;
  overflow-x: hidden;
  color: $dark;
  background-color: #f8f8f8;
  &.overflow {
    overflow-y: hidden !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $boldMontserrat;
}
::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #b1b1b1;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}
a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.btn {
  &:focus {
    outline: none;
  }
}
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.center {
  display: flex;
  justify-content: center;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  &.white {
    color: #fff;
  }
}
// Heading 3 and description
.heading-and-desc {
  max-width: 372px;
  margin-bottom: 16px;
}
.heading-and-desc__h3 {
  font-family: $boldMontserrat;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}
.heading-and-desc__descr {
  font-size: 21px;
  line-height: 1.2;
  color: $accent;
}
// Description and Heading 3
.descr-and-title {
  max-width: 404px;
  margin-bottom: 30px;
}
.descr-and-title__desc {
  font-size: 21px;
}
.descr-and-title__h3 {
  font-size: 30px;
  margin-top: 5px;
}
// Btn
.btn {
  min-height: 76px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: #fff;
  background-color: $primary;
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 21px;
  border-radius: 69px;
  padding: 0 32px;
  &--accent {
    background-color: $accent;
  }
}
// Seperate decor
.exclude {
  display: flex;
  justify-content: center;
  img {
    max-width: 136px;
  }
}

// Checkbox
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 25px;
  padding-top: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $dark;
  background-color: #fff;
  background-size: 70%;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.12s ease;
  border-radius: 5px;
}
input[type="checkbox"]:checked + label:before {
  background-image: url("../img/icons/tick-sign.svg");
  background-repeat: no-repeat;
  border-color: $primary;
  background-color: $primary;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
