// .header {
//   padding: 40px 0 35px 0;
// }
// .header__wrapper {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
// }
// .header-nav {
//   display: flex;
//   align-items: center;
// }
// .header-nav__item {
//   margin-left: 32px;
//   font-family: $mediumMontserrat;
//   font-weight: 500;
//   font-size: 18px;
//   color: rgba(50, 94, 205, 0.5);
//   transition: color 0.3s ease-in-out;
//   width: fit-content;
//   &:hover {
//     color: #325ecd;
//     &::after {
//       background-color: $primary;
//     }
//   }
//   &::after {
//     content: "";
//     display: flex;
//     background-color: transparent;
//     height: 3px;
//     border-radius: 32px;
//     width: 100%;
//     transition: background-color 0.3s ease-in-out;
//   }
//   &:first-child {
//     margin-left: 0;
//   }
// }
// .header-right__tel {
//   font-family: $mediumMontserrat;
//   color: $primary;
//   font-weight: 500;
//   font-size: 16px;
//   margin: 0 15px;
//   display: flex;
//   align-items: center;
//   img {
//     margin-right: 5px;
//   }
// }
// .header-right {
//   display: flex;
//   align-items: center;
// }
// .lang {
// }
// .lang__item {
//   width: 35px;
//   height: 35px;
//   border-radius: 100%;
//   border: 1px solid $primary;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: $boldMontserrat;
//   font-weight: 700;
//   font-size: 14px;
//   color: $primary;
//   cursor: pointer;
//   text-transform: uppercase;
// }
// .log-in {
//   display: flex;
//   align-items: center;
// }

.header {
  padding: 40px 0 35px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav {
  display: flex;
  align-items: center;
}
.close {
  display: none;
  position: absolute;
  top: 36px;
  right: 12px;
}
.burger {
  display: none;
}
.header__content {
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav__item {
  margin-left: 32px;
  font-family: $mediumMontserrat;
  font-weight: 500;
  font-size: 18px;
  color: rgba(50, 94, 205, 0.5);
  transition: color 0.3s ease-in-out;
  width: fit-content;
  &:hover {
    color: #325ecd;
    &::after {
      background-color: $primary;
    }
  }
  &::after {
    content: "";
    display: flex;
    background-color: transparent;
    height: 2px;
    border-radius: 32px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  &:first-child {
    margin-left: 0;
  }
}
.header-right__tel {
  font-family: $mediumMontserrat;
  color: $primary;
  font-weight: 500;
  font-size: 16px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
}
.header-right {
  display: flex;
  align-items: center;
}
.lang__item {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $boldMontserrat;
  font-weight: 700;
  font-size: 14px;
  color: $primary;
  cursor: pointer;
  text-transform: uppercase;
}
.log-in {
  display: flex;
  align-items: center;
}
