// Hero section
.hero {
  background-image: url("../img/general/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 144px);
  display: flex;
  align-items: center;
  position: relative;
  &__layer {
    display: block;
    background-color: rgba(7, 44, 78, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: calc(100vh - 144px);
  position: relative;
  z-index: 2;
}
.hero-left__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
.hero-left__h1 {
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 42px;
  color: #fff;
  max-width: 500px;
  span {
    font-size: 48px;
    display: block;
  }
}
.hero-left__btn {
  margin-right: 66px;
  &:last-child {
    margin-right: 0;
  }
}
.hero-left {
  flex-basis: 46%;
  align-self: center;
  //padding-bottom: 194px;
}
.hero-center {
  flex-basis: 8%;
  min-height: calc(100vh - 144px);
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
  }
}
.hero-right {
  flex-basis: 46%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 57px;
}
.hero-right__bottom {
  font-family: $regularMontserrat;
  font-weight: 400;
  font-size: 14px;
  color: $accent;
  max-width: 298px;
  align-self: flex-end;
}
