// Instructions
.instructions {
  padding: 74px 0 64px;
  background-color: $light;
  margin-top: 100px;
}
.instructions__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
.instructions-card {
  position: relative;
  &::after {
    content: "";
    display: block;
    background-image: url("../img/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 260px;
    right: -40px;
  }
  &:last-child {
    &::after {
      display: none;
    }
    .instructions-card__item {
      &:first-child {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
    }
  }
}
.instructions-card__img {
  max-width: 272px;
  margin: 0 auto;
  img {
    height: 100%;
    object-fit: contain;
    max-height: 562px;
  }
}

.instructions-card__title {
  font-family: $boldMontserrat;
  font-weight: 700;
  font-size: 26px;
  color: #000;
  margin: 30px 0 20px;
}
.instructions-card__list {
  max-width: 450px;
}
.instructions-card__item {
  position: relative;
  padding-left: 24px;
  font-size: 21px;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    display: flex;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: $primary;
    position: absolute;
    left: 0;
    top: 7px;
  }
}
