.materials {
  padding: 43px 0;
  background-color: $primary;
  .btn--accent {
    max-width: 270px;
    min-height: 60px;
  }
}
.materials__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.slide__inner {
  height: 100%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 245px;
  border-radius: 15px;
  padding: 32px 30px;
  margin: 0 auto;
}
.materials-slide {
  height: auto;
  width: 25%;
  //margin: 10px;
}
.materials__left {
  width: 22%;
}
.materials__right {
  width: 66%;
  position: relative;
}
.materials-slide__title {
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
}
.materials-slide__img {
  display: flex;
  justify-content: center;
  img {
    max-width: 88px;
  }
}
.materials__h3 {
  font-family: $boldMontserrat;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.materials__desc {
  color: #fff;
  font-size: 18px;
  max-width: 330px;
  margin: 20px 0 40px;
}
.materials-prev,
.materials-next {
  background-color: #fff !important;
  width: 40px !important;
  height: 40px !important;
  opacity: 1 !important;
  box-shadow: $shadow;
  top: 50% !important;
  border-radius: 8px;
}
.materials-prev {
  left: 0px !important;
}
.materials-next {
  transform: rotate(180deg);
  right: 0px !important;
}
.materials-slider {
  position: static !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
