.news-wrapper {
  padding-bottom: 102px;
}

.news-wrapper__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-main {
  flex-basis: 66%;
  p {
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.news-aside {
  flex-basis: 31%;
  .news-card {
    margin-bottom: 54px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.news-main__img {
  margin-bottom: 28px;
  img {
    max-height: 540px;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
  }
}
.news-main__h3 {
  font-size: 48px;
  margin-bottom: 38px;
  max-width: 780px;
  color: #000;
}
.news-main__published {
  color: rgba(35, 50, 89, 0.5);
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 18px;
}
.news-main__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 530px;
  margin-top: 18px;
}
.news-main__views {
  display: flex;
  align-items: center;
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 18px;
  color: rgba(35, 50, 89, 0.5);
  img {
    margin-right: 8px;
  }
}
.news-main__download {
  display: flex;
  align-items: center;
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 18px;
  color: $primary;
  img {
    margin-right: 8px;
  }
}
.news-main__share {
  display: flex;
  align-items: center;
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 18px;
  color: $primary;
  img {
    margin-right: 8px;
  }
}
// News card
.news-card {
  border-radius: 35px;
  box-shadow: $shadow;
  background-color: #fff;
}
.news-card__img {
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  overflow: hidden;
  background-color: #fff;
  img {
    min-height: 220px;
    height: 100%;
    object-fit: contain;
  }
}
.news-card__main {
  padding: 15px 15px 45px 15px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #fff;
}
.news-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-card__views {
  display: flex;
  align-items: center;
  img {
    margin-right: 6px;
  }
}
.news-card__title {
  font-size: 20px;
  color: $dark;
  margin: 32px 0 36px;
}
.news-card__exceprt {
  font-size: 17px;
  line-height: 1.2;
}
// Aside
.news-aside__box {
  background-color: #edf0f9;
  border-radius: 25px;
  padding: 36px 32px;
  p {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.news-aside__h4 {
  font-family: $regularMontserrat;
  font-weight: 400;
  font-size: 24px;
  color: $primary;
  margin-bottom: 12px;
}
// Long news
.long-news-cards {
  padding: 30px 0 60px;
}
.long-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: $shadow;
  border-radius: 25px;
  margin-bottom: 27px;
  &:last-child {
    margin-bottom: 0;
  }
}
.long-news__img {
  flex-basis: 26%;
  img {
    max-height: 222px;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
  }
}
.long-news__content {
  flex-basis: 72%;
  padding: 28px 0 20px;
}
.long-news__h4 {
  font-size: 21px;
}
.long-news__excerpt {
  font-size: 18px;
  line-height: 1.2;
  margin: 16px 0 40px;
  max-width: 580px;
}
.long-news__footer {
  display: flex;
  max-width: 340px;
  justify-content: space-between;
}
.long-news__published {
  color: rgba(35, 50, 89, 0.5);
}
.long-news__views {
  display: flex;
  align-items: center;
  color: rgba(35, 50, 89, 0.5);
  img {
    margin-right: 6px;
  }
}
