.news-slider-section {
  padding: 20px 0;
  .container {
    position: relative;
  }
}

.swiper-wrapper {
  display: flex;
}

.news-slide {
  border-radius: 35px;
  overflow: hidden;
  box-shadow: $shadow;
  //width: 32%;
  //margin: 10px;
}
.news-slide__main {
  padding: 15px 25px 50px 25px;
}
.news-slide__excerpt {
  font-size: 18px;
}
.news-slide__title {
  font-family: $boldMontserrat;
  font-weight: 700;
  font-size: 22px;
  margin-top: 33px;
  margin-bottom: 36px;
  color: #233259;
}
.news-slide__img {
  height: 220px;
  overflow: hidden;
}
.news-slide__date {
  font-family: $semiboldMontserrat;
  font-weight: 600;
  font-size: 18px;
  color: rgba(35, 50, 89, 0.5);
}
.news-prev,
.news-next {
  background-color: #fff !important;
  width: 40px !important;
  height: 40px !important;
  opacity: 1 !important;
  box-shadow: $shadow;
  top: 290px !important;
  border-radius: 8px;
  &.disabled {
    opacity: .8;
  }
}
.news-next {
  transform: rotate(180deg);
}
.news-swiper {
  position: static !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.news-section__bottom {
  display: flex;
  justify-content: center;
  margin-top: 79px;
}
