.news-section {
  padding: 50px 0;
}
.news-swiper {
  padding: 20px 2px;
}
.single-news-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 64px;
  &.right {
    .single-news-item__img {
      order: 2;
    }
    .single-news-item__content {
      order: 1;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.single-news-item__img {
  flex-basis: 49%;
  border-radius: 32px;
  overflow: hidden;
  img {
    max-height: 476px;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
  }
}
.single-news-item__content {
  flex-basis: 49%;
}
.single-news-item__title {
  font-family: $boldMontserrat;
  font-weight: 700;
  font-size: 48px;
  color: $accent;
}
.single-news-item__excerpt {
  margin: 20px 0;
  font-size: 21px;
  line-height: 1.2;
}
.single-news-item__footer {
  display: flex;
  justify-content: space-between;
}
.single-news-item__published {
  color: rgba(35, 50, 89, 0.5);
}
.single-news-item__btn {
  font-size: 21px;
  color: $primary;
}
