$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 420px;

@media (max-width: $xxl) {
  .news-main p {
    font-size: 18px;
  }
  .hero-left {
    padding-bottom: 57px;
  }
  .single-news-item__title {
    font-size: 34px;
  }
  .single-news-item__excerpt {
    font-size: 18px;
  }
  .news-main__h3 {
    font-size: 38px;
  }
  .text-img-slide {
    h3 {
      font-size: 34px;
    }
    h5 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
  .hero-left__h1 {
    font-size: 34px;
    max-width: 480px;
    span {
      font-size: 40px;
    }
  }
}
@media (max-width: $xl) {
  .burger {
    display: flex;
  }
  .close {
    display: flex;
  }
  .header__content {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 40vw;
    background-color: #fff;
    z-index: 2222;
    padding: 108px 16px 40px 16px;
    transition: left 0.3s ease-in-out;
    &.active {
      left: 0;
    }
  }
  .header-right {
    flex-basis: 100%;
  }
  .header-nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header-nav__item {
    margin-left: 0;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .materials-slide {
    padding: 32px 16px;
  }
  .instructions-card__title {
    font-size: 20px;
  }
  .instructions-card__item {
    font-size: 18px;
  }
  .news-slide__title {
    font-size: 20px;
  }
  .single-news-item__title {
    font-size: 24px;
  }
  .text-img-slide {
    h3 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
  }

  .long-news__img {
    flex-basis: 30%;
  }
  .long-news__content {
    flex-basis: 68%;
  }
  .news-main__h3 {
    font-size: 28px;
  }
  .news-aside__box {
    padding: 20px 16px;
  }
  .faq-accordion-item__icon {
    margin-left: 8px;
  }
}
@media (max-width: $lg) {
  .hero-left__h1 {
    font-size: 24px;
    span {
      font-size: 32px;
    }
  }
  .faqs__main {
    justify-content: center;
  }
  .faq-accordion {
    flex-basis: 100%;
  }
  .main-form {
    flex-basis: 100%;
    margin-top: 30px;
  }
  .heading-and-desc__h3 {
    font-size: 24px;
  }
  .instructions__wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .instructions-card__list {
    text-align: center;
    margin: 0 auto;
  }
  .news-slider-section {
    max-width: 720px;
    margin: 0 auto;
  }
  .news-next {
    right: 0 !important;
  }
  .news-prev {
    left: 0 !important;
  }
  .single-news-item__title {
    font-size: 20px;
  }
  .text-img-slide {
    h3 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
  }
  .footer__right {
    width: 70%;
    margin-top: 30px;
    max-width: unset;
  }
  .news-main__h3 {
    font-size: 21px;
  }
  .long-news {
    max-width: 480px;
    margin: 0 auto 27px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .long-news__footer {
    max-width: unset;
  }
  .long-news__img {
    margin: 0 auto;
    flex-basis: 100%;
    img {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .long-news__content {
    flex-basis: 100%;
    padding: 15px;
  }
  .long-news__excerpt {
    max-width: unset;
  }
  .instructions-card__img img {
    height: auto;
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: $md) {
  .hero-left__h1 {
    //max-width: 360px;
    margin: 0 auto;
  }
  .hero-left__h1 {
    font-size: 40px;
    span {
      font-size: 56px;
    }
  }
  .hero-left {
    flex-basis: 100%;
    order: 2;
    &__btns {
        justify-content: center;
    }
  }
  .hero-right {
    flex-basis: 100%;
    justify-content: center;
    order: 3;
  }
  .hero-center {
    flex-basis: 100%;
    min-height: unset;
    display: flex;
    justify-content: center;
    order: 1;
    visibility: hidden;
    img {
      max-width: 84px;
    }
  }
  .header {
    padding: 20px 0;
  }
  .hero__wrapper {
    min-height: calc(100vh - 108px);
  }
  .hero {
    min-height: calc(100vh - 108px);
  }
  .hero-left__btn {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  .address-box__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .address-box__left,
  .address-box__center,
  .address-box__right {
    flex-basis: 100%;
  }
  .address-box__center {
    margin: 20px 0;
  }
  .address-box__add,
  .address-box__item {
    font-size: 18px;
  }
  .materials__wrapper {
    justify-content: center;
  }
  .materials__left {
    width: 100%;
  }
  .materials__right {
    width: 100%;
    margin-top: 20px;
  }
  .single-news-item {
    justify-content: center;
  }
  .single-news-item__img {
    flex-basis: 100%;
  }
  .single-news-item.right {
    .single-news-item__img {
      margin-top: 20px;
    }
    .single-news-item__content {
      margin-top: 0;
    }
  }
  .single-news-item__footer {
    flex-direction: column;
    justify-content: flex-start;
  }
  .single-news-item__btn {
    margin-top: 14px;
    font-size: 18px;
  }
  .single-news-item__content {
    flex-basis: 100%;
    margin-top: 20px;
  }
  .text-img-slider__wrapper {
    justify-content: center;
  }
  .text-img-slider__left {
    width: 100%;
    order: 2;
  }
  .text-img-slider__right {
    width: 100%;
    max-width: 520px;
    margin-bottom: 30px;
    order: 1;
  }
  .text-img-slide p {
    max-width: unset;
  }
  .news-wrapper__content {
    justify-content: center;
  }

  .news-main {
    flex-basis: 100%;
  }
  .news-aside {
    flex-basis: 100%;
    margin-top: 30px;
    .news-card {
      max-width: 480px;
      margin: 0 auto 27px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .news-wrapper {
    padding-bottom: 30px;
  }
  .descr-and-title__h3 {
    font-size: 24px;
  }
  .descr-and-title__desc {
    font-size: 18px;
  }
  .header-nav__item {
    color: $dark;
  }
}
@media (max-width: $sm) {
  .hero-left__h1 {
      font-size: 30px;
  }
  .header-right {
    justify-content: space-between;
    max-width: 270px;
  }
  .header__content {
    width: 100vw;
  }
  .btn {
    font-size: 18px;
  }
  .hero-left__btns {
    justify-content: space-between;
    margin-top: 40px;
  }
  .hero-left {
    padding-bottom: 0;
  }
  .hero__wrapper {
    padding-top: 60px;
  }
  .hero-right {
    padding-bottom: 30px;
  }
  .hero-left__btn {
    flex-basis: 46%;
    margin-right: 0;
  }
  .main-form__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .faqs .exclude {
    margin-top: 30px;
  }
  .agreement {
    margin-bottom: 20px;
  }
  .faqs {
    padding: 50px 0 40px;
  }

  .materials .btn--accent {
    margin: 0 auto;
  }
  .news-main__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .news-main__download {
    margin: 12px 0;
  }
  .search-nav__right {
    flex-basis: 84%;
  }
  .footer__center {
    max-width: unset;
    width: 70%;
    margin-top: 40px;
  }
  .footer__right {
    width: 100%;
  }
  .long-news__h4 {
    font-size: 18px;
  }
  .news-section__bottom {
    margin-top: 40px;
  }
  .instructions {
    padding: 40px 0;
  }
  .faq-accordion-item__question {
    font-size: 18px;
  }
  .faq-accordion-item__answer {
    padding: 30px 16px;
    font-size: 18px;
  }
  .main-form {
    padding: 40px 16px;
  }
  .branchs__h3 {
    font-size: 18px;
  }
}
@media (max-width: $xs) {
  .faq-accordion-item__question {
    font-size: 16px;
  }
  .faq-accordion-item__answer {
    font-size: 16px;
  }
  .materials__right {
    max-width: 280px;
  }
  .news-slide__main {
    padding: 15px 15px 34px 15px;
  }
  .footer__center {
    display: flex;
    flex-direction: column;
  }
  .footer__menu2 {
    margin-top: 24px;
  }
  .news-main__h3 {
    font-size: 18px;
  }
}
