.text-img-slider {
  padding: 50px 0;
  .exclude {
    margin-top: 112px;
  }
}
.text-img-slider__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.text-img-slider__left {
  width: 48%;
}

.text-img-slide {
  h5 {
    font-size: 30px;
    color: $dark;
  }
  h3 {
    font-size: 48px;
    color: $accent;
    max-width: 360px;
    line-height: 1.1;
    margin: 25px 0;
  }
  p {
    max-width: 570px;
    margin-bottom: 32px;
    font-size: 21px;
    line-height: 1.2;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.text-img-slider__right {
  width: 48%;
}
.img-text-slide {
  border-radius: 35px;
  img {
    max-height: 475px;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
  }
}
.img-text-scrollbar {
  position: static !important;
  margin: 28px auto 0 auto;
  max-width: 374px;
  height: 14px !important;
  background: $accent !important;
  .swiper-scrollbar-drag {
    background-color: $dark !important;
  }
}
