// Fonts
@font-face {
  font-family: regularMontserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: mediumMontserrat;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: semiboldMontserrat;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: boldMontserrat;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

$regularMontserrat: regularMontserrat;
$mediumMontserrat: mediumMontserrat;
$semiboldMontserrat: semiboldMontserrat;
$boldMontserrat: boldMontserrat;

// Colors
$light: #edf0f9;
$primary: #325ecd;
$secondary: #233259;
$accent: #dbb491;
$dark: #233259;

// Shadow
$shadow: 0px 2px 6px 0px rgba(10, 20, 53, 0.25);
$shadow2: 0px 2px 6px 0px rgba(10, 20, 53, 0.75);
